:root {
    --primary: #26648e;
    --secondary: #4f8fc0;
    --black: #1e1e1e;
    --white: #fff;
    --lightGray: #dedede;
    --gray: #979696;

    --disabled: #a3a3a3;
    --success: #30c753;
    --danger: #ff0000;
    --warning: #ffcc00;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400; /* Regular Italic */
}

@font-face {
    font-family: "Caladea";
    src: url("/fonts/Caladea-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Caladea";
    src: url("/fonts/Caladea-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Caladea";
    src: url("/fonts/Caladea-BoldItalic.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Caladea";
    src: url("/fonts/Caladea-Italic.ttf") format("truetype");
    font-weight: 400;
}

/* globals */
* {
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.caladea-bold {
    font-family: "Caladea", sans-serif;
    font-weight: 700;
}

.caladea-italic {
    font-family: "Caladea", sans-serif;
    font-style: italic;
}

.caladea-regular {
    font-family: "Caladea", sans-serif;
    font-weight: 400;
}

/* landing page */
.landing-wrapper {
    width: 100%;
}

/* navbar */
.navbar {
    width: 100%;
    background: var(--primary);
    height: 225px;
    color: var(--white);
}
.landing-top-navbar {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-branding {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    padding-left: 60px;
}
.branding-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 1px;
}
.navbar-links {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-link {
    width: 159.73px;
    height: 100%;
    align-items: center;
    display: flex;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 13px;
}
.navbar-link.login {
    color: var(--black);
    background-color: var(--white);
    border-bottom-left-radius: 2.5rem;
}

.navbar-link.login span {
    margin-left: 2.5rem;
}

.navbar-title {
    width: 552px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 78.66px;
    align-items: center;
}
.navbar-title-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 72px;
}

/* landing page */
.about-us-container {
    width: 744.18px;
    margin: 0 auto;
    padding-top: 4.5rem;
}
.tabs-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
}
.tabs-description {
    font-size: 14px;
}

.about-us-container .tabs-description {
    margin-top: 2rem;
}

.section-container {
    padding: 2.5rem 8rem 1rem;
}
.section-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.section-title-container {
    width: 100%;
    max-width: 242px;
    border-bottom: 1px solid var(--lightGray);
    margin-bottom: 5px;
}

.section-container.last-section {
    margin-bottom: 4rem;
}
/* end of landing page */

/* auth layout */
.auth-wrapper {
    width: 100%;
    height: 1024px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-content {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
}
.auth-form-container {
    width: 553px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-title {
    text-align: center;
    width: 100%;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}
.form-box {
    width: 100%;
    background-color: var(--white);
    max-height: 806px;
    overflow-y: hidden;
}
.form-box form {
    padding: 1.5rem;
}
.form-group-inputs-row {
    display: flex;
    gap: 0.4rem;
}
.auth-input {
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-input .MuiOutlinedInput-root {
    border-radius: 10px;
    height: 40px;
    border-color: var(--lightGray);
}
.auth-ccc-banner {
    width: 100%;
    max-width: 173px;
    height: 167px;
}
.auth-banner-text {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 6rem;
    letter-spacing: 1px;
    width: 341px;
    text-align: center;
    text-transform: uppercase;
}

.auth-form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.auth-department-choices {
    border: 1px solid #dedede;
    border-radius: 10px;
    max-height: 381px;
    overflow-y: scroll;
}
.auth-checkbox-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem 0px 2rem;
}
.eye-password {
    cursor: pointer;
    color: var(--black);
}

.auth-form-actions {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

.auth-form-btn {
    width: 419px;
    height: 40px;
    color: var(--white) !important;
    border-radius: 10px !important;
    text-transform: capitalize !important;
}

.auth-form-btn.black {
    background-color: var(--black);
}
.auth-form-btn.light-blue {
    background-color: var(--secondary);
    width: 370px !important;
}

.auth-form-btn.custom-black {
    background-color: var(--black);
    width: 370px !important;
}

/* auth - login */
.login-form-box {
    width: 418px;
    height: 361px;
}
.forgot-pw {
    margin-top: 2rem;
}
.forgot-pw-txt-style {
    text-decoration: underline;
    color: var(--secondary);
}

/* dialog */

.message-dialog-container {
    width: 100%;
    max-width: 346px;
    position: absolute;
    z-index: 111;
    top: 8rem;
    left: 55%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 1rem;
}

.dialog-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.dialog-info-icon {
    width: 16px;
    height: 16px;
}
.dialog-close-icon {
    width: 10px;
    height: 10px;
}

.close-dialog {
    cursor: pointer;
}

.dialog-body {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.dialog-message {
    font-weight: 400;
    font-size: 16px;
}

.dialog-actions {
    padding-left: 1rem;
    padding-top: 1rem;
}

.dialog-btn {
    border: 1px solid black !important;
    background: #2c2c2c !important;
    color: white !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border-radius: 8px !important;
}

/* end of dialog */

/* footer */
.footer {
    background-color: var(--primary);
    width: 100%;
    height: 123px;
    display: flex;
    justify-content: center;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-logo {
    width: 48px;
    height: 48px;
}

.footer-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.5px;
}
/* end of footer */
